@charset "UTF-8";

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/OpSns/OpenSans-Regular.eot');
    src: url('../fonts/OpSns/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/OpSns/OpenSans-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/OpSns/OpenSans.woff') format('woff'),
    url('../fonts/OpSns/OpenSans.svg#OpenSans') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/OpSnsB/OpenSans-Bold.eot');
    src: url('../fonts/OpSnsB/OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/OpSnsB/OpenSans-Bold.woff') format('woff'),
    url('../fonts/OpSnsB/OpenSans-Bold.ttf') format('truetype'),
    url('../fonts/OpSnsB/OpenSans-Bold.svg#OpenSans-Bold') format('svg'),
    url('../fonts/OpSnsB/OpenSans-Bold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald-Regular';
    src: url('../fonts/Oswald/Oswald-Regular.ttf') format('truetype'),
    url('../fonts/Oswald/Oswald-Regular.svg#Oswald-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'oswald.regular';
    src: url('../fonts/Oswald/oswald.regular.eot');
    src: url('../fonts/Oswald/oswald.regular.woff2') format('woff2'),
    url('../fonts/Oswald/oswald.regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Yellowtail-Regular';
    src: url('../fonts/Yellowtail/Yellowtail-Regular.eot');
    src: url('../fonts/Yellowtail/Yellowtail-Regular.woff2') format('woff2'),
    url('../fonts/Yellowtail/Yellowtail-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Yellowtail';
    src: url('../fonts/Yellowtail/Yellowtail.ttf') format('truetype'),
    url('../fonts/Yellowtail/Yellowtail.svg#Yellowtail') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    height: 100%;
}

body {
    margin: 0 auto;
    color: #2c2c2c;
    font-family: 'OpenSans-Regular';
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn:focus,
.btn {
    outline-color: transparent;
}

a, a:focus, a:hover, div:focus {
    text-decoration: none;
    outline: none;
}

img {
    max-width: 100%;
    max-height: 100%;
    border: none;
    outline: none;
}

input, button, textarea {
    outline: none;
    border: none;
}

textarea {
    resize: none;
}

header, footer, aside, nav, article, section {
    display: block;
}

.underline {
    text-decoration: underline;
}

.overflow_hid {
    overflow: hidden;
}

.top_center {
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
}

i[class*="icon-"]:before {
    float: left;
}

i[class*="icon-"] {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.ellipsis {
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}

i.icon-center:before {
    position: absolute;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
}

::-webkit-input-placeholder {
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    white-space: nowrap;
    color: #A8A8A8 !important;
}

:-moz-placeholder {
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    white-space: nowrap;
    color: #A8A8A8 !important;
}

::-moz-placeholder {
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    white-space: nowrap;
    color: #A8A8A8 !important;
}

:-ms-input-placeholder {
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    white-space: nowrap;
    color: #A8A8A8 !important;
}

.seo_search {
    font-size: 18px;
}

.bckg_white {
    background-color: #fff;
}

.bckg_grey {
    background-color: #E8E7E7;
}

.bckg_dark {
    background-color: #2A2A2A;
    color: #fff;
}

.bckg_yellow {
    background-color: #F39C12;
}

.color_white {
    color: #fff;
}

.menu_item a:hover,
.color_yellow {
    color: #F39C12;
}

.btn_white {
    color: #333;
    background: #fff;
    font-weight: bold;
    border-radius: 30px;
}

.container_flex,
.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.fixed {
    position: fixed;
}

.transform {
    -webkit-transition-property: height, width, -webkit-transform;
    transition-property: height, width, -webkit-transform;
    -o-transition-property: height, width, transform;
    transition-property: height, width, transform;
    transition-property: height, width, transform, -webkit-transform;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}

/*=====================change AND===================*/
/*================tooltip and ==============*/
.wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 auto -144px;
    min-height: 100%;
    padding: 0 0 144px;
}

/*===================canvas==============*/
.background-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

.background-output {
    height: 100%;
}

noindex:-o-prefocus, .background-container {
    display: none;
}

.background-output canvas {
    opacity: 0.4;
}

/*===================HEADER===================*/

header {
    width: 100%;
    height: 100vh;
    min-height: 830px;
    margin: 0 auto;
    position: relative;
    background: #2A2A2A url(../images/texture_bg.jpg) 0 0;
    padding-bottom: 40px;
}

.header_content,
header > .container {
    height: 100%;
    position: relative;

}

.img_persone {
    height: 360px;
    width: 360px;
    display: inline-block;
    margin: 0 auto 50px;
    margin-top: 50px \0/;
}

.container_flex {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.header_content {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
}

.header_h {
    margin-bottom: 15px;
    font-size: 40px;
}

.header_title {
    max-width: 500px;
    margin: 0 auto 20px;
    font-size: 18px;
}

.head_arrow {
    margin-top: 40px;
    font-size: 28px;
}

/*================button menu============*/
.button_menu {
    background: transparent;
    top: 0;
    margin-top: 10px;
    z-index: 100;
    left: 10%;
}

.button_menu-line {
    display: block;
    width: 35px;
    height: 3px;
    margin: 5px 0;
    -webkit-box-shadow: -3px 2px 2px 0 rgba(50, 50, 50, .5);
    box-shadow: -3px 2px 2px 0 rgba(50, 50, 50, .5);
}

.button_menu-line {
    -webkit-transform-origin: 6px 1px;
    -ms-transform-origin: 6px 1px;
    transform-origin: 6px 1px;
    -webkit-transform: rotateZ(0deg);
    -ms-transform: rotate(0deg);
    transform: rotateZ(0deg);
}

.button_cross > .ln2 {
    width: 0;
}

.button_cross > .ln3 {
    -webkit-transform: rotateZ(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotateZ(-45deg);
}

.button_cross > .ln1 {
    -webkit-transform: rotateZ(45deg);
    -ms-transform: rotate(45deg);
    transform: rotateZ(45deg);
}

/*===================menu======================*/
.menu {
    top: 0;
    width: 280px;
    height: 100%;
    /*min-height: 600px;*/
    -webkit-perspective: 150px;
    perspective: 150px;
    left: 10%;
    -webkit-transition: z-index 2.1s ease-out 0s;
    -o-transition: z-index 2.1s ease-out 0s;
    transition: z-index 2.1s ease-out 0s;
}

.menu > * {
    position: relative;
    background-color: #202020;
    width: 100%;
    height: 6.7%;
    float: left;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    min-height: 30px;
}

.menu > *:before {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: -1px;
    height: 2px;
    background-color: #202020;
    width: 100%;
}

.menu_hidden {
    z-index: -1;
}

.menu_visible {
    z-index: 99;
}

.menu_hidden > div,
.menu_hidden > * {
    opacity: 0;
    visibility: hidden;
    -webkit-animation-name: menu_animation_hidden;
    animation-name: menu_animation_hidden;
}

.menu_visible > div,
.menu_visible > * {
    opacity: 1;
    -webkit-animation-name: menu_animation_visible;
    animation-name: menu_animation_visible;
    visibility: visible;
    /*display: block;*/
}

.menu_h {
    font-family: 'Yellowtail-Regular';
    font-size: 36px;
    padding: 0 15px;
}

.menu_item {
    font-family: 'Oswald-Regular';
    font-size: 24px;
    padding: 0 15px;
    color: #fff;
}

.menu_block-interim {
    width: 100%;
}

.menu_copyright {
    padding: 0 15px;
}

.menu_item *[class*="icon-"] {
    margin-right: 6px;
    overflow: hidden;
    display: inline-block;
}

.menu_item *[class*="icon-"]:before {
    float: left;
}

/*}============animation menu==============*/
@keyframes menu_animation_visible {
    0% {
        -webkit-transform: rotateX(25deg) scale(0.1);
        transform: rotateX(25deg) scale(0.1);
    }
    33% {
        -webkit-transform: rotateX(25deg) scale(1);
        transform: rotateX(25deg) scale(1);

    }
    70% {
        -webkit-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
        transform: translateY(-2px);
    }
    100% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes menu_animation_visible {
    0% {
        -webkit-transform: rotateX(25deg) scale(0.1);
        transform: rotateX(25deg) scale(0.1);
    }
    33% {
        -webkit-transform: rotateX(25deg) scale(1);
        transform: rotateX(25deg) scale(1);

    }
    70% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes menu_animation_hidden {
    0% {
    }
    10% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }
    66% {
        -webkit-transform: rotateX(25deg);
        transform: rotateX(25deg);
    }
    100% {
        -webkit-transform: rotateX(25deg) scale(0.01);
        transform: rotateX(25deg) scale(0.01);
    }
}

@-webkit-keyframes menu_animation_hidden {
    0% {
    }
    10% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }
    66% {
        -webkit-transform: rotateX(25deg);
        transform: rotateX(25deg);
    }
    100% {
        -webkit-transform: rotateX(25deg) scale(0.01);
        transform: rotateX(25deg) scale(0.01);
    }
}

/*==========================MAIN========================*/
/*=====================about me==============*/
.about {
    background: #fff url(../images/table_bg.png) 0 0 no-repeat;
    background-size: cover;
}

.view_height {
    height: 100vh;
    padding: 70px 0;
    min-height: 922px;
}

.about_block {
    -webkit-perspective: 900px;
    perspective: 900px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: perspective(900px);
    -ms-transform: perspective(900px);
    transform: perspective(900px);
}

.qualification_title,
.about_title {
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: bold;
    letter-spacing: 3px;

}

.about_name {
    margin-bottom: 50px;
}

.about_text {
    font-size: 20px;
    margin-bottom: 90px;
}

.about_personal_info {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 25px;
}

.personal_info_row {
    max-width: 60%;
    margin: 0 auto 5px;
}

.my-info {
    font-size: 22px;
    margin-right: 5px;
}

/*=======================animation about=================*/
.about_block-top,
.personal_info_row {
    -webkit-transition: all .9s ease-out 0s;
    -o-transition: all .9s ease-out 0s;
    transition: all .9s ease-out 0s;
}

.about_block-top.animation {
    -webkit-transform: translate3d(0, 0, 200px) rotateY(-30deg);
    -ms-transform: translate3d(0, 0, 200px) rotateY(-30deg);
    transform: translate3d(0, 0, 200px) rotateY(-30deg);
    opacity: 0;
}

.about_block-info > .animation:nth-child(odd) {
    -webkit-transform: translateX(-600px) rotateY(0deg);
    -ms-transform: translateX(-600px) rotateY(0deg);
    transform: translateX(-600px) rotateY(0deg);
    opacity: 0;
}

.about_block-info > .animation:nth-child(even) {
    -webkit-transform: translateX(600px) rotateY(0deg);
    -ms-transform: translateX(600px) rotateY(0deg);
    transform: translateX(600px) rotateY(0deg);
    opacity: 0;
}

/*=========================qualification================*/
.qualification {
    color: #fff;
}

.qualification_block {
    font-size: 30px;
    font-weight: bold;
    position: relative;
    height: 190px;
    width: 190px;
    margin: 0 auto;
}

.qualification_img {
    padding: 0 20px 40px;
    height: 115px;
    width: 140px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 10;
    line-height: 68px;

}

.qualification_img img {
    vertical-align: middle;
}

.percentages {
    position: absolute;
    bottom: 32px;
    left: 50%;
    margin-left: -30px;
    width: 60px;
    z-index: 11;
}

/*========progress ====================*/
.chart {
    position: absolute;
    top: 0;
    left: 0;
}

/*========progress and====================*/
.qualification_title {
    margin-bottom: 90px;
}

.qualification_text {
    margin-top: 7px;
    font-weight: bold;
    color: #F39C12;
    font-size: 30px;
    margin-bottom: 80px;
}

/*====================latest work=======================*/
.wrap_latest_work {
    /*margin: 0 -25px;*/
}

.latest_work {
    background: url(../images/beach-pebbles1.jpg) no-repeat;
    background-size: cover;
}

.qualification_block_img {
    height: 210px;
    margin-bottom: 30px;
    border: 1px solid #616161;
    border-radius: 3px;
    position: relative;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.qualification_block_img img {
    max-height: inherit;
    max-width: 100%;
}

/*====================latest work animation=======================*/
.name_site:hover,
.name_site:focus {
    text-decoration: none;
    color: #fff;
}

.qualification_block_img:after,
.qualification_block_img:before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.qualification_block_img:before {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(250, 250, 250, 0)), color-stop(75%, rgba(0, 0, 0, 0.6)));
    background: -webkit-linear-gradient(top, rgba(250, 250, 250, 0) 0%, rgba(0, 0, 0, 0.6) 75%);
    background: -o-linear-gradient(top, rgba(250, 250, 250, 0) 0%, rgba(0, 0, 0, 0.6) 75%);
    background: linear-gradient(to bottom, rgba(250, 250, 250, 0) 0%, rgba(0, 0, 0, 0.6) 75%);
}

.qualification_block_img:after {
    border-bottom: 5px solid #fff;
    border-top: 5px solid #fff;
    -webkit-transform: scaleY(1.2);
    -ms-transform: scaleY(1.2);
    transform: scaleY(1.2);
}

.name_site {
    text-decoration: none;
    z-index: 2;
    position: absolute;
    font-family: 'Oswald-Regular';
    font-size: 22px;
    left: 50%;
    top: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -400%);
    -ms-transform: translate(-50%, -400%);
    transform: translate(-50%, -400%);
    color: #fff;

}

.qualification_block_img:hover img {
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

.qualification_block_img:hover:before {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.qualification_block_img:hover .name_site {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 1;

}

.qualification_block_img:hover:after {
    -webkit-transform: scale(.9, .3);
    -ms-transform: scale(.9, .3);
    transform: scale(.9, .3);
}

.qualification_block_img:hover:before {
    opacity: 1;
    -webkit-transform: scale3d(1.4, 1.4, 1);
    -ms-transform: scale3d(1.4, 1.4, 1);
    transform: scale3d(1.4, 1.4, 1);

}

.qualification_block_img:after,
.qualification_block_img:before,
.qualification_block_img img,
.name_site {
    -webkit-transition: opacity .3s, -webkit-transform .3s;
    -o-transition: opacity .3s, transform .3s;
    transition: opacity .3s, transform .3s;
}

/*====================skills=======================*/
.title_skills {
    font-size: 30px;
    line-height: 1.1;
    margin-bottom: 10px;
    padding-left: 50px;
    position: relative;
}

.title_skills .icon_title {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 36px;
    height: 36px;
    width: 36px;
    line-height: 36px;
}

.text_skill {
    font-size: 17px;

}

.wrap_skill {
    min-height: 280px;
    margin-bottom: 29px;
}

.title_skills .icon-583347ca8f6c7ee058111edf-120-designer-icons1 {
    font-size: 39px;
}

.title_skills .icon-perfect-pixel {
    font-size: 42px;
    margin-top: -3px;
}

.title_skills .icon-compress {
    margin-top: 3px;
}

/*====================send=======================*/
.send-block {
    background: #fff url(../images/32bit-tiff2.png) no-repeat;
    background-size: cover;
    padding: 100px 0;
}

.send-block_title {
    font-size: 49px;
}

.send-block_text {
    font-size: 24px;
    margin-top: 35px;
}

.form-send {
    margin-top: 45px;
    position: relative;

}

.form-send textarea,
.form-send input {
    background-color: #202020;
    color: #fff;
    font-size: 18px;
    width: 100%;
}

.form-send textarea:focus,
.form-send input:focus {
    outline: 2px solid #F39C12;
}

input.not_error:-webkit-autofill,
.not_error {
    background-color: #202020;
}

.form-send input {
    height: 45px;
    line-height: 45px;
    padding: 0 10px 0 36px;
    position: relative;
    z-index: 1;
}

.form-send textarea {
    padding: 5px 10px;
}

.form-send .help-block {
    margin: 0;
}

.form-send i[class*="icon-"] {
    color: #A8A8A8;
    position: absolute;
    font-size: 18px;
    top: 13px;
    left: 11px;
    z-index: 2;
}

.form-send i.icon-mail {
    top: 14px;
}

.form-send-block {
    width: 410px;
    position: relative;
    margin-bottom: 26px;
}

.not_error + p.help-block,
.error + p.help-block {
    margin-bottom: -20px;
}

.btn_send {
    border-radius: 0;
    padding: 10px 45px;
    color: #202020;
    font-family: 'OpenSans-Bold';
    font-size: 18px;
    min-width: 200px;
    min-height: 47px;
}

.btn_send,
.btn_send:focus,
.btn_send:active,
.btn_send:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn_send[disabled="disabled"] {
    cursor: default;
    opacity: 1;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 0;
    -webkit-box-shadow: 0 0 0 1000px transparent inset;
    -webkit-transition: background-color 5000s ease-in-out 0s;
    -o-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 174, 255, 0.04) 50%, rgba(255, 255, 255, 0) 51%, rgba(0, 174, 255, 0.03) 100%);
}

/*==========================анимация отправки письма====================*/
.swap-animation {
    position: absolute;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    left: 50%;
    top: 50%;
    -webkit-transform: scale(1, 1) translate(-50%, -50%);
    -ms-transform: scale(1, 1) translate(-50%, -50%);
    transform: scale(1, 1) translate(-50%, -50%);
    max-width: 300px;
    margin: 0 auto;
    background: transparent;
    opacity: 0;
    z-index: -1;
}

.swap {
    animation: swap 2s ease-in-out;
    -webkit-animation: swap 2s ease-in-out;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.form-send i.icon-ban,
.form-send i.icon-check-circle-o {
    position: static;
    font-size: 100px;
}

.text-visible {
    display: block;
}

@keyframes swap {
    0% {
        z-index: 10;
        opacity: 0;
        left: 0;
        top: 0;
        -webkit-transform-origin: 0 100%;
        transform-origin: 0 100%;
        -webkit-transform: scale(0, 0) translate(0, 0);
        transform: scale(0, 0) translate(0, 0);
    }
    30% {
        opacity: 1;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        left: 50%;
        top: 50%;
        -webkit-transform: scale(1, 1) translate(-50%, -50%);
        transform: scale(1, 1) translate(-50%, -50%);
    }
    95% {
        opacity: 1;
        z-index: 10;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes swap {
    0% {
        z-index: 10;
        opacity: 0;
        left: 0;
        top: 0;
        -webkit-transform-origin: 0 100%;
        transform-origin: 0 100%;
        -webkit-transform: scale(0, 0) translate(0, 0);
        transform: scale(0, 0) translate(0, 0);
    }
    30% {
        opacity: 1;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        left: 50%;
        top: 50%;
        -webkit-transform: scale(1, 1) translate(-50%, -50%);
        transform: scale(1, 1) translate(-50%, -50%);
    }
    95% {
        opacity: 1;
        z-index: 10;
    }
    100% {
        opacity: 0;
    }
}

/*======================== animation btn send =====================*/
.wrap_btn_animate {
    position: relative;
    display: inline-block;
}

.active-animate .cssload-loader {
    display: block;
}

.cssload-loader {
    display: none;
}

.active-animate .btn_send {
    color: transparent;
}

.cssload-loader {
    width: 100px;
    height: 12px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
}

.cssload-loader > div {
    content: " ";
    width: 11px;
    height: 11px;
    background: rgb(33, 150, 243);
    border-radius: 100%;
    position: absolute;
    animation: cssload-shift 1.75s linear infinite;
    -o-animation: cssload-shift 1.75s linear infinite;
    -ms-animation: cssload-shift 1.75s linear infinite;
    -webkit-animation: cssload-shift 1.75s linear infinite;
    -moz-animation: cssload-shift 1.75s linear infinite;
}

.cssload-loader > div:nth-of-type(1) {
    animation-delay: -0.35s;
    -o-animation-delay: -0.35s;
    -ms-animation-delay: -0.35s;
    -webkit-animation-delay: -0.35s;
    -moz-animation-delay: -0.35s;
}

.cssload-loader > div:nth-of-type(2) {
    animation-delay: -0.70s;
    -o-animation-delay: -0.70s;
    -ms-animation-delay: -0.70s;
    -webkit-animation-delay: -0.70s;
    -moz-animation-delay: -0.70s;
}

.cssload-loader > div:nth-of-type(3) {
    animation-delay: -1.05s;
    -o-animation-delay: -1.05s;
    -ms-animation-delay: -1.05s;
    -webkit-animation-delay: -1.05s;
    -moz-animation-delay: -1.05s;
}

.cssload-loader > div:nth-of-type(4) {
    animation-delay: -1.40s;
    -o-animation-delay: -1.40s;
    -ms-animation-delay: -1.40s;
    -webkit-animation-delay: -1.40s;
    -moz-animation-delay: -1.40s;
}

.cssload-loader > div:nth-of-type(5) {
    animation-delay: -1.75s;
    -o-animation-delay: -1.75s;
    -ms-animation-delay: -1.75s;
    -webkit-animation-delay: -1.75s;
    -moz-animation-delay: -1.75s;
}

@keyframes cssload-shift {
    0% {
        left: -30px;
        opacity: 0;
        background-color: rgb(98, 98, 98);
    }
    10% {
        left: 0;
        opacity: 1;
    }
    90% {
        left: 89px;
        opacity: 1;
    }
    100% {
        left: 120px;
        background-color: rgb(30, 30, 30);
        opacity: 0;
    }
}

@-webkit-keyframes cssload-shift {
    0% {
        left: -30px;
        opacity: 0;
        background-color: rgb(98, 98, 98);
    }
    10% {
        left: 0;
        opacity: 1;
    }
    90% {
        left: 89px;
        opacity: 1;
    }
    100% {
        left: 120px;
        background-color: rgb(30, 30, 30);
        opacity: 0;
    }
}

/*======================== валидация формы =====================*/
.form-send i.icon-x,
.form-send i.icon-check {
    left: 100%;
    visibility: hidden;
    opacity: 0;
    z-index: 0;
    -webkit-transition: visibility, opacity, margin .4s ease-out 0s;
    -o-transition: visibility, opacity, margin .4s ease-out 0s;
    transition: visibility, opacity, margin .4s ease-out 0s;
}

.not_error ~ i.icon-x,
.error ~ i.icon-check {
    visibility: hidden;
    opacity: 0;
}

.not_error ~ i.icon-check,
.error ~ i.icon-x {
    visibility: visible;
    opacity: 1;
    margin-left: 10px;
}

.form-send i.icon-check-circle-o,
.text-success,
.form-send i.icon-check {
    color: green;
}

.form-send i.icon-ban,
.text-danger,
.form-send i.icon-x {
    color: red;
}

.submit-text {
    font-size: 22px;
}

.button-form-send {
    width: auto;
}

/*=================footer==========================*/
footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: static;
    width: 100%;
    height: 144px;
    overflow: hidden;
    background-color: #151515;
    padding: 20px 0;
    color: #B8B8B8;
}

.footer-list {
    display: inline-block;
    width: 300px;
    margin-bottom: 10px;
}

.footer-list > li {
    float: left;
    text-align: center;
    width: 16.6%;
}

.footer-list > li i {
    font-size: 22px;
}

.footer-list > li > a {
    color: #F39C12;

}

.footer-list > li > a:hover {
    color: #ECECEC;
}

.footer-line a {
    margin: 0 10px;
    color: #B8B8B8;
}

/*================Кнопка вверх=============*/
.to-top {
    font-size: 60px;
    position: fixed;
    display: inline-block;
    bottom: 60px;
    right: 20px;
    text-align: center;
    cursor: pointer;
    z-index: 1000;
}

.to-top:before {
    font-size: 50px;
    color: #525252;
}

/*======================MEDIA POINT==================*/
@media (max-width: 1300px) {
    .button_menu,
    .menu {
        left: 0;
    }
    .menu_h{
        font-size: 27px;
    }
    .button_menu{
        margin-top: 5px;
    }
    .button_menu-line{
        width: 28px;
        -webkit-transform-origin: 3px 1px;
        -ms-transform-origin: 3px 1px;
        transform-origin: 3px 1px;
    }
    .view_height,
    header{
        height: auto;
    }
    .header_content{
        padding-top: 80px;
    }
}
@media (max-width: 1199px) {

    .menu{
        width: 200px;
        max-height: 900px;
    }
    .menu_item *[class*="icon-"]{
        font-size: 18px;
    }
    .menu_copyright{
        padding-left: 5px;
    }
    .menu_h {
        font-size: 23px;
    }
    .wrap_skill{
        min-height: 284px;
    }
    .title_skills{
        font-size: 26px;
    }

}

@media (max-width: 991px) {
    .qualification_text{
        margin-bottom: 35px;
    }
}

@media (max-width: 767px) {
    .menu_item{
        font-size: 18px;
    }
    .wrap_skill {
        min-height: inherit;
        height: auto;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 480px) {
    .progress_block{
        width: 100%;
    }
    .footer-line {
        display: block;
    }
    .personal_info_row,
    .form-send-block{
        width: 100%;
        max-width: inherit;
    }
    .send-block{
        overflow: hidden;
    }
    .img_persone{
        width: 280px;
        height: auto;
    }
    .text-danger.send-text-error,
    .my-info{
        display: block;
    }
    .send-block_title,
    .view_height  h1,
    .view_height  h2,
    .header_h,
    .title_skills .icon_title{
        font-size: 32px;
    }
    .title_skills .icon_title{
        top:-3px;
    }
    .title_skills{
        font-size: 22px;
    }
    .about_text,
    .my-info,
    .send-block_text{
        font-size: 18px;
    }

    .form-send i.icon-x,
    .form-send i.icon-check{
        display: none;
    }
}